# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files

*.iml
out
gen


database/target/
service/target/
web/target/
lib/
target/
External Libraries/
.idea/
/.idea/
database/src/test/
web/src/main/resources/
