<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/xsd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/on_line_store</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="ru.belitavitex.entity.Person"/>
        <mapping class="ru.belitavitex.entity.Product"/>
        <mapping class="ru.belitavitex.entity.Category"/>
        <mapping class="ru.belitavitex.entity.CustomerOrder"/>
        <mapping class="ru.belitavitex.entity.Address"/>
        <mapping class="ru.belitavitex.entity.Review"/>
        <mapping class="ru.belitavitex.entity.OrderItem"/>
        <mapping class="ru.belitavitex.entity.Promotion"/>
        <mapping class="ru.belitavitex.entity.Article"/>
    </session-factory>
</hibernate-configuration>

