<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>About Us</title>
    <div th:replace="fragments/styles-connect :: styles-connect"></div>
</head>

<body>
<div th:include="fragments/header :: header"></div>
<div th:replace="fragments/user :: advertising"></div>
<div class="oMainBlock">
    <div class="container">
        <div class="oPosBlock row-fluid sidebar">
            <div th:replace="fragments/user :: sidebar"></div>
            <div class="oContentBlock span9 visible-phone visible-tablet visible-desktop">
                <div id="system-message-container">
                    <div id="system-message">
                    </div>
                </div>
                <div class="oPos maincontent">
                    <div class="component">
                        <span id="startOfPageId29"></span>
                        <div class="ot-content">
                            <div id="k2Container" class="itemView">
                                <div class="itemHeader">
                                    <span class="itemDateCreated">Вторник, 18 Июня 2017</span>
                                    <h2 class="itemTitle">История создания</h2>

                                    <div class="clr"></div>
                                </div>
                                <div class="itemBody">
                                    <div class="itemIntroText">
                                        <p>1988<br>
                                            История косметических предприятий ЗАО «ВИТЭКС» и СП «БЕЛИТА» ООО началась
                                            с прихода  в августе 1988 года на Республиканскую базу «БЕЛБЫТСНАБА» нового
                                            директора - ВИКТОРА ТЕРЕЩЕНКО.</p>
                                        <p><img src="../../../resources/images/about us.jpg" border="0"></p>
                                    </div>
                                    <div class="itemFullText">
                                        <strong>1989</strong><br>
                                        <p>
                                            В ноябре 1989 года, было создано совместное советско - итальянское
                                            предприятие «БЕЛИТА», президентом правления (ныне – председатель) был
                                            избран директор предприятия «БЕЛБЫТКОМПЛЕКТ» - ВИКТОР ТЕРЕЩЕНКО. С
                                            белорусской стороны учредителем выступило предприятие «БЕЛБЫТКОМПЛЕКТ»
                                            (в настоящее время ЗАО «ВИТЭКС»), с итальянской — фирма по производству
                                            косметических препаратов «GVF». Итальянская сторона обеспечила поставки
                                            оборудования и передала формулы нескольких косметических средств,
                                            белорусская - обеспечила новое предприятие кадрами и производственными
                                            площадями.</p>
                                        <strong>1990</strong><br>
                                        <p>
                                            Выход на рынок первых 6 косметических средств по уходу за волосами под
                                            торговой маркой «БЕЛИТА»: шампуни «Крапива», «Мелисса», «Аир», «Шалфей»,
                                            лосьон – «Иткур», бальзам для волос «Ревивор».
                                            Рецептура первых препаратов была предоставлена итальянской косметической
                                            компанией "ITELY".</p>
                                        <strong>1991</strong><br>
                                        <p>
                                            В 1991 году за счет собственных средств на предприятии «БЕЛБЫТКОМПЛЕКТ»
                                            было организовано производство пластмассовой тары для упаковки
                                            косметических препаратов.</p>
                                        <strong>1992</strong><br>
                                        <p>
                                            СП «БЕЛИТА» ООО расширяет ассортимент косметической продукции, появились
                                            средства по уходу за телом.</p>
                                        <strong>1993</strong><br>
                                        <p>
                                            СП "БЕЛИТА" ООО начало выпуск косметических средств по уходу за лицом.
                                            Открытие первого торгового представительства в Витебске
                                            ОДО «БЕЛИТА - ВИТЭКС» и первого фирменного магазина положило начало
                                            созданию розничной торговой сети «МИР КОСМЕТИКИ» «БЕЛИТА - ВИТЭКС»</p>
                                        <strong>1995</strong><br>
                                        <p>
                                            Выпущена первая продукция под торговой маркой «ВИТЭКС».
                                            Белорусским модницам была предложена первая новинка – краска для волос
                                            «Флора». Второй новинкой от «ВИТЭКС» стала зубная паста «Вита».
                                            На предприятии "БЕЛБЫТКОМПЛЕКТ" была создана и аккредитована испытательная
                                            лаборатория по стандартам ИСО/МЭК/17025</p>
                                        <strong>1996</strong><br>
                                        <p>
                                            Коллективное предприятие "БЕЛБЫТКОМПЛЕКТ" акционировано и преобразовано
                                            в ЗАО «БЕЛБЫТКОМПЛЕКТ»
                                            Химико-биологическая лаборатория СП "БЕЛИТА" ООО аккредитована на
                                            соответствие ИСО/МЭК 17025
                                            На предприятии ЗАО "БЕЛБЫТКОМПЛЕКТ" создан швейный цех. Первая продукция
                                            цеха – постельное бельё, вафельные полотенца, спецодежда для собственных
                                            нужд.</p>
                                        <strong>1997</strong><br>
                                        <p>
                                            Специалистами СП «БЕЛИТА» ООО разработана рецептура первых 6 тонов
                                            оттеночных бальзамов для волос. Открыто рекламно-информационное
                                            издательство «МИР КОСМЕТИКИ» Первый тираж газеты «МИР КОСМЕТИКИ «БЕЛИТА -
                                            ВИТЭКС» составлял 1000 экземпляров.
                                            До июня 2001 года издание называлось - Ежемесячник «БЕЛИТА»</p>
                                        <strong>1998</strong><br>
                                        <p>
                                            Разработана и выпущена первая партия косметичек из плёнки ПВХ, это и
                                            определило основное направление в работе швейного цеха ЗАО "БЕЛБЫТКОМПЛЕКТ".
                                            Первая поставка продукции СП «БЕЛИТА» ООО в США</p>
                                        <strong>1999</strong><br>
                                        <p>
                                            Основание научно – координационного центра «БЕЛИТА - ВИТЭКС».
                                            Создание НКЦ позволило предприятиям стать первыми и единственными
                                            разработчиками собственных косметических формул.</p>
                                        <strong>2000 - 2005</strong><br>
                                        <p>
                                            Предприятие «Белбыткомплект» перерегистрировано в ЗАО «ВИТЭКС».
                                            На предприятии ЗАО "ВИТЭКС" произведена полная реконструкция и модернизация
                                            производства, что позволило начать выпуск конкурентоспособной и
                                            высококачественной продукции в необходимых для успешного развития объемах.
                                            Выстроена и активно функционирует собственная торговая сеть в Республике
                                            Беларусь. Сформирована дилерская сеть практически во всех странах ближнего
                                            зарубежья.Для координации деятельности предприятия ЗАО "ВИТЭКС" и СП
                                            "БЕЛИТА" ООО начали проводить семинары – конференции с торговыми домами
                                            и дилерами. Под марками «БЕЛИТА» и «ВИТЭКС» выпущено 110 новых
                                            косметических препаратов. Объёмы производства увеличены на 30%.
                                            СП «БЕЛИТА» ООО начало выпуск декоративной косметики</p>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>