<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>All products</title>
    <div th:replace="fragments/styles-connect :: styles-connect"></div>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<br>
<div class="container">
    <div class="oPosBlock row-fluid middle2">
        <div class="ot-content">
            <legend>Все продукты в категории.</legend>
            <table class="category table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th><strong>#</strong></th>
                    <th><strong th:text="#{login.firstName}">ИМЯ</strong></th>
                    <th><strong th:text="#{login.lastName}">ФАМИЛИЯ</strong></th>
                    <th><strong th:text="#{login.address}">АДРЕС</strong></th>
                    <th><strong th:text="#{login.email}">E-Mail</strong></th>
                    <th><strong th:text="#{login.phone}">ТЕЛЕФОН</strong></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${persons}" th:class="${person}">
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.firstName}"></td>
                    <td th:text="${person.lastName}"></td>
                    <td th:text="${person.address}"></td>
                    <td th:text="${person.email}"></td>
                    <td th:text="${person.phone}"></td>
                    <td th:align="center">


                        <a th:href="@{/DeletePerson/{id}(id=${person.id})}"> <!-- ?id=${person.id}">-->
                            <button class="btn-small btn-danger" type="button">Удалить</button></a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>