<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="resources/css/k2.css" type="text/css">
    <link rel="stylesheet" href="resources/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="resources/css/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="resources/css/template.css" type="text/css">
    <link rel="stylesheet" href="resources/css/preset-style-1.css" type="text/css">
    <link rel="stylesheet" href="resources/css/no-space.css" type="text/css">
    <link rel="stylesheet" href="resources/css/css.css" type="text/css">
    <link rel="stylesheet" href="resources/css/all.css" type="text/css">
    <link rel="stylesheet" href="resources/css/vmsite-ltr.css" type="text/css">
    <link rel="stylesheet" href="resources/css/omgmenu.css" type="text/css">
    <link rel="stylesheet" href="resources/css/omgmenu_mobile.css" type="text/css">

    <script src="resources/js/analytics.js" async=""></script>
    <script src="resources/js/mootools-core.js" type="text/javascript"></script>
    <script src="resources/js/core.js" type="text/javascript"></script>
    <script src="resources/js/jquery_002.js" type="text/javascript"></script>
    <script src="resources/js/k2.js" type="text/javascript"></script>
    <script src="resources/js/respond.js" type="text/javascript"></script>
    <script src="resources/js/jquery.js" type="text/javascript"></script>
    <script src="resources/js/jquery-noconflict.js" type="text/javascript"></script>
    <script src="resources/js/bootstrap.js" type="text/javascript"></script>
    <script src="resources/js/caption.js" type="text/javascript"></script>
    <script src="resources/js/otscript.js" type="text/javascript"></script>
    <script src="resources/js/all.js" type="text/javascript"></script>
    <script src="resources/js/omgmenu.js" type="text/javascript"></script>
    <script src="resources/js/validate.js" type="text/javascript"></script>
    <script type="text/javascript">

        function keepAlive() {
            var myAjax = new Request({method: "get", url: "index.php"}).send();
        }
        window.addEvent("domready", function () {
            keepAlive.periodical(840000);
        });
    </script>

    <script type="text/javascript">
    </script>

    <script type="text/javascript">
        window.addEvent('domready', function () {
            if (typeof jQuery != 'undefined' && typeof MooTools != 'undefined') {
                Element.implement({
                    slide: function (how, mode) {
                        return this;
                    }
                });
            }
        });
    </script>

</head>


<body id="ot-body" class="oBody ltr homepage frontpage">
<style> body {background: #f9f3e2;}</style>
<div class="container">
    <div class="oPosBlock row-fluid top1">

        <div class="oPos top1-1 span4 visible-phone visible-tablet visible-desktop">
            <div id="mod-48" class="ot-mod-outer standard module">
                <div class="ot-mod-inner clearfix">
                    <div class="mod-content clearfix">
                        <div class="custom">
                            <div class="ot_logo"><a href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/"><img
                                    src="resources/images/logo.png" alt="" border="0"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="oPos top1-2 span8 visible-phone visible-tablet visible-desktop">
            <div id="mod-98" class="ot-mod-outer standard module floatright">
                <div class="ot-mod-inner clearfix">
                    <div class="mod-content clearfix">
                        <div class="vmCartModule " id="vmCartModule98">
                            <div class="vm_cart">
		<span class="ico-cart"> 
		<a href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/">
            <img src="resources/images/cart.png" alt="" border="0"></a>
		</span>

                                <span class="total_products">Корзина пуста</span>
                                <br>
                                <span class="show_cart">
			<a href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/index.php/shop-store/cart">В корзину</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="mod-101" class="ot-mod-outer standard module floatright custom_login">
                <div class="ot-mod-inner clearfix">
                    <div class="mod-content clearfix">
                        <div id="ot-login-popup-wrap">

                            <span class="ot-welcome">Добро пожаловать, </span>

                            <a href="#ot-lightbox-wrapper" role="button" id="ot-login-label"
                               data-toggle="modal">Login</a>
                        </div>
                        <link rel="import" href="/login.html">
                    </div>
                </div>
            </div>

            <div id="mod-102" class="ot-mod-outer standard module Clearfix">
                <div class="ot-mod-inner clearfix">
                    <div class="mod-content clearfix">
                        <div class="custom Clearfix">
                        </div>
                    </div>
                </div>
            </div>

            <div id="mod-103" class="ot-mod-outer standard module floatleft">
                <div class="ot-mod-inner clearfix">
                    <div class="mod-content clearfix">
                        <div class="custom floatleft">
                            <div class="custom_top"><img src="resources/images/custom_top.png" alt="" border="0"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="mod-104" class="ot-mod-outer standard module custom_top_menu">
                <div class="ot-mod-inner clearfix">
                    <div class="mod-content clearfix">
                        <ul class="menu">

                            <li class="item-527"><a href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/">English</a>
                            </li>
                            <li class="item-531"><span class="separator">|</span></li>
                            <li class="item-528"><a href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/">Русский</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="oPosBlock row-fluid top2">
        <div class="oPos top2-1 span12 visible-phone visible-tablet visible-desktop">
            <div id="mod-100" class="ot-mod-outer standard module mainmenu">
                <div class="ot-mod-inner clearfix">
                    <div class="mod-content clearfix">
                        <div class="otmenu-wrapper otmenu-desk-wrapper visible-desktop" id="otmenu-desk-wrapper-100">
                            <div class="otmenu-wrapper-i">
                                <ul class="ot-menu ot-dropdown-100 menu ">

                                    <li id="omi-435" class="ot-menu-item level1 current active first notColumn"
                                        style="z-index:35000;">
                                        <div><a class="item-link level1"
                                                href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/">
                                            <span class="item-text ">Главная</span></a></div>
                                    </li>

                                    <li id="omi-485" class="ot-menu-item level1 deeper hasChild notColumn"
                                        style="z-index:34999;">
                                        <div><a class="item-link level1"
                                                href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/index.php/all-features"><span
                                                class="item-text ">Товары</span></a>

                                            <div class="submenu-wrap submenu-wrap-level1"
                                                 style="width: 200px; margin: 0px; padding: 5px; left: auto; visibility: visible; display: none;">
                                                <div class="submenu-wrap-i">
                                                    <div class="submenu-leftbg"></div>
                                                    <div class="submenu-rightbg"></div>
                                                    <div class="submenu-wrap-ii">
                                                        <ul class="ot-menu child-menu">

                                                            <li id="omi-486" class="ot-menu-item level2 first notColumn"
                                                                style="z-index:34998;">
                                                                <div><a class="item-link level2"
                                                                        href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/index.php/all-features/module-positions">
                                                                    <span class="item-text ">Module Positions</span></a>
                                                                </div>
                                                            </li>
                                                            <li id="omi-487" class="ot-menu-item level2 notColumn"
                                                                style="z-index:34997;">
                                                                <div><a class="item-link level2"
                                                                        href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/index.php/all-features/display-main-menu">
                                                                    <span class="item-text ">Display Main Menu</span></a>
                                                                </div>
                                                            </li>
                                                            <li id="omi-488" class="ot-menu-item level2 last notColumn"
                                                                style="z-index:34996;">
                                                                <div><a class="item-link level2"
                                                                        href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/index.php/all-features/template-configurations">
                                                                    <span class="item-text ">Template Configurations</span></a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </li>
                                    <li id="omi-498" class="ot-menu-item level1 notColumn" style="z-index:34961;">
                                        <div><a class="item-link level1"
                                                href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/index.php/about-us">
                                            <span class="item-text ">Журнал</span></a></div>
                                    </li>
                                    <li id="omi-499" class="ot-menu-item level1 notColumn" style="z-index:34960;">
                                        <div><a class="item-link level1"
                                                href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/index.php/shop-store">
                                            <span class="item-text ">О предприятии</span></a></div>
                                    </li>
                                    <li id="omi-500" class="ot-menu-item level1 last notColumn" style="z-index:34959;">
                                        <div><a class="item-link level1"
                                                href="http://demo.omegatheme.com/joomla25/ot_naturalcosmetics/index.php/contact-us">
                                            <span class="item-text ">Контакты</span></a></div>
                                    </li>
                                </ul>
                            </div>
                            <script type="text/javascript">

                                jQuery(document).ready(function ($) {
                                    $("ul.ot-dropdown-100").otmenu({
                                        direction: 'ltr',
                                        animation: {opacity: "show", height: "show"},
                                        speed: 'normal'
                                    });

                                });

                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>


<div class="container">
    <div class="oPosBlock row-fluid middle2">
        <div class="ot-content">
            <table class="category table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th><strong>#</strong></th>
                    <th><strong>ИМЯ</strong></th>
                    <th><strong>ФАМИЛИЯ</strong></th>
                    <th><strong>АДРЕС</strong></th>
                    <th><strong>E-Mail</strong></th>
                    <th><strong>ТЕЛЕФОН</strong></th>
                    <th><strong>ПАРОЛЬ</strong>
                </tr>
                </thead>
                <tbody>
                <tr class="cat-list-row0">
                    <td>
                        1
                    </td>
                    <td>
                        Dfcz
                    </td>
                    <td>
                        Dbgdfh
                    </td>
                    <td>
                        Midghssgdf dfgdfsh ghgf
                    </td>
                    <td>
                        gmjgh
                    </td>
                    <td>
                        +375296849031
                    </td>
                    <td>
                        12345
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="oFooterBlock">
    <div class="container">
        <div class="copyright">Copyright © 2017 DenisSoft</div>
    </div>
</div>

</body>
</html>