<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>New product</title>
    <div th:replace="fragments/styles-connect :: styles-connect"></div>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<br>
<div class="container">
    <div class="oPosBlock row-fluid middle2">
        <div class="ot-content">
            <form th:action="@{/Admin/SaveProduct}" method="post" enctype="multipart/form-data">
                <legend>
                    <p th:if="${product.id}">Изменение продукта.</p>
                    <p th:unless="${product.id}">Создание нового продукта.</p>
                </legend>
                <div class="control-group">
                    <div class="control-label">
                        <label th:for="product.name" class="hasTip required" aria-invalid="false" style=" width: 400px;">
                            Название<span class="star">&nbsp;*</span></label>
                        <input type="text" th:field="*{product.name}" class="required" size="30"
                               aria-required="true" required="required" aria-invalid="false">
                        <label th:for="product.description" class="hasTip required" aria-invalid="false">
                            Описание<span class="star">&nbsp;*</span></label>
                        <textarea class="textareal" th:field="*{product.description}" aria-required="true"
                                  required="required" aria-invalid="false"></textarea>
                        <label th:for="product.name" class="hasTip required" aria-invalid="false">
                            Выберите категорию<span class="star">&nbsp;*</span></label>
                        <select th:field="*{product.category.id}">
                            <option th:each="category : ${session.categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                        <label th:for="product.price" class="hasTip required" aria-invalid="false">
                            Цена<span class="star">&nbsp;*</span></label>
                        <input type="number" th:field="*{product.price}" class="required" size="30"
                               aria-required="true" required="required" aria-invalid="false">
                        <label th:for="product.residue" class="hasTip required" aria-invalid="false">
                            Количество<span class="star">&nbsp;*</span></label>
                        <input type="number" th:field="*{product.residue}" class="required" size="30"
                               aria-required="true" required="required" aria-invalid="false">

                        <label></label>
                        <input class="form-control" type="file" name="file"/><br/>

                    </div>
                    <div class="controls">

                        <input type="hidden" th:field="*{product.id}">
                    </div>
                </div>
                <p class="ot-submit">
                    <input type="submit" name="Submit" class="btn btn-primary" value="Сохранить">
                </p>
            </form>
        </div>
    </div>
</div></div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>