<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Registration</title>
    <div th:replace="fragments/styles-connect :: styles-connect"></div>
</head>
<body>
<div class="ot-mod-outer standard module floatright custom_login ">
    <div class="ot-mod-inner clearfix">
        <div class="mod-content clearfix">
            <div style="clear: both;"></div>
            <div  class="modal hide fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block; height: 770px;">
                <div class="modal-header" style="height: 750px;">
                    <a href="/home"><img src="../../resources/images/logo_login.png" alt="" border="0"
                                         th:src="@{resources/images/logo_login.png}"></a>
                    <div  style="height: 670px;">
                        <div class="ot-tabs">
                            <ul class="nav nav-tabs">
                                <li><a href="/login">Вход</a></li>
                                <li class="active"><a href="" data-toggle="tab">Регистрация</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <p th:if="${message}" class="custom_style_error custom_desc_error">
                                        <span th:text="${message}"></span></p>
                                    <form th:action="@{/Registration}" method="post" th:object="${person}">
                                        <table class="table">
                                            <tr>
                                                <td style="border-top-color:#fff">
                                                   <div class="control-group">
                                                      <div class="control-label">
                                                          <label th:for="firstName" class="hasTip required"
                                                                 aria-invalid="false">Имя
                                                              <span class="star">&nbsp;*</span>
                                                          </label>
                                                      </div>
                                                      <div class="controls">
                                                            <input type="text" th:field="*{firstName}"
                                                                   class="required"
                                                                   aria-required="true" required="required"
                                                                   aria-invalid="false">
                                                      </div>
                                                   </div>
                                                </td>
                                                <td style="border-top-color:#fff">
                                                    <div class="control-group">
                                                        <div class="control-label">
                                                           <label th:for="lastName" class="hasTip required "
                                                                  aria-invalid="false">Фамилия
                                                               <span class="star">&nbsp;*</span>
                                                           </label>
                                                        </div>
                                                        <div class="controls">
                                                            <input type="text" th:field="*{lastName}"
                                                                   class="required" aria-required="true"
                                                                   required="required" aria-invalid="false">
                                                        </div>
                                                    </div>
                                                </td>
                                             </tr>
                                            <tr>
                                                <td style="border-top-color:#fff">
                                                    <div class="control-group">
                                                        <div class="control-label">
                                                             <label th:for="email" class="hasTip required "
                                                                    aria-invalid="false">E-mail
                                                                 <span class="star">&nbsp;*</span>
                                                             </label>
                                                        </div>
                                                    <div class="controls">
                                                        <input type="email" th:field="*{email}"
                                                               class="validate-email required invalid"
                                                               aria-required="true" required="required"
                                                               aria-invalid="false">
                                                    </div>
                                                 </div>
                                                </td>
                                                <td style="border-top-color:#fff">
                                                    <div class="control-group">
                                                       <div class="control-label">
                                                          <label th:for="password" class="validate-password"
                                                                 aria-invalid="false">Пароль
                                                              <span class="star">&nbsp;*</span>
                                                          </label>
                                                       </div>
                                                       <div class="controls">
                                                           <input type="password" th:field="*{password}"
                                                                  class="required" aria-required="true"
                                                                  required="required" aria-invalid="false">
                                                       </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-top-color:#fff">
                                                    <div class="control-group">
                                                       <label th:for="phone">Телефон (+375-xx-xxx-xx-xx)</label>
                                                          <div class="controls">
                                                              <input type="text" th:field="*{phone}"
                                                                  pattern="[\\+]375-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}">
                                                          </div>
                                                    </div>
                                                </td>
                                                <td style="border-top-color:#fff">
                                                    <div class="control-group">
                                                       <label th:for="address.zip">Индекс</label>
                                                           <div class="controls">
                                                               <input type="text" th:field="*{address.zip}"
                                                                      pattern="[0-9]{6}">
                                                           </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-top-color:#fff">
                                                    <div class="control-group">
                                                       <label th:for="address.country">Страна</label>
                                                          <div class="controls">
                                                             <input type="text" th:field="*{address.country}">
                                                          </div>
                                                    </div>
                                                </td>
                                                <td style="border-top-color:#fff">
                                                    <div class="control-group">
                                                        <label th:for="address.city">Город</label>
                                                            <div class="controls">
                                                                <input type="text" th:field="*{address.city}">
                                                            </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr style="border-top-color:#fff">
                                                <td style="border-top-color:#fff">
                                                   <div class="control-group">
                                                       <label th:for="address.street">Улица</label>
                                                          <div class="controls">
                                                             <input type="text" th:field="*{address.street}">
                                                          </div>
                                                   </div>
                                                </td>
                                                <td style="border-top-color:#fff">
                                                   <div class="control-group">
                                                       <label th:for="address.house">Дом</label>
                                                          <div class="controls">
                                                             <input type="text" th:field="*{address.house}"
                                                                    pattern="^[ 0-9]+$">
                                                          </div>
                                                   </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border-top-color:#fff">
                                                   <div class="control-group">
                                                      <label th:for="address.building">Корпус</label>
                                                         <div class="controls">
                                                             <input type="text" th:field="*{address.building}"
                                                                    pattern="^[ 0-9]+$">
                                                         </div>
                                                   </div>
                                                </td>
                                                <td style="border-top-color:#fff">
                                                    <div class="control-group" >
                                                       <label th:for="address.apartment">Квартира</label>
                                                           <div class="controls">
                                                               <input type="text" th:field="*{address.apartment}"
                                                                      pattern="^[ 0-9]+$">
                                                           </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <p class="ot-submit">
                                           <input type="submit" name="Submit" class="btn btn-primary"
                                                  value="Зарегистрироваться">
                                        </p>
                                     </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div></div></div>
</body>
</html>
