<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Success</title>
    <div th:replace="fragments/styles-connect :: styles-connect"></div>
</head>

<body>
<div th:include="fragments/header :: header"></div>
<div th:replace="fragments/user :: advertising"></div>
<div class="oMainBlock">
    <div class="container">
        <div class="oPosBlock row-fluid sidebar">
            <div th:replace="fragments/user :: sidebar"></div>
            <div th:replace="fragments/user :: userInformation"></div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>