<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="oPosBlock row-fluid top1">
            <div class="oPos top1-1 span4 visible-phone visible-tablet visible-desktop">
                <div class="ot-mod-outer standard module">
                    <div class="ot-mod-inner clearfix">
                        <div class="mod-content clearfix">
                            <div class="custom">
                                <div class="ot_logo"><a href="/home"><img
                                        src="../../../resources/images/logo.png" alt="" border="0"
                                        th:src="@{../../../resources/images/logo.png}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oPos top1-2 span8 visible-phone visible-tablet visible-desktop">
                <div sec:authorize="hasAuthority('USER')">
                    <div class="ot-mod-outer standard module floatright">
                        <div class="ot-mod-inner clearfix">
                            <div class="mod-content clearfix">
                                <div class="vmCartModule">
                                    <div class="vm_cart">
                                        <span class="ico-cart" ></span>
                                        <span th:if="${session.cart}" class="total_products"
                                                  th:text="'У вас в корзине ' +${session.cart.quantityInCart() +' тов.'}"></span>
                                        <span th:unless="${session.cart}" class="total_products"
                                                  th:text="#{header.cart.empty}"></span><br>
                                        <span class="show_cart">
			                                      <a href="/Cart" th:text="#{header.cart.show}">В корзину</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ot-mod-outer standard module floatright custom_login">
                    <div class="ot-mod-inner clearfix">
                        <div class="mod-content clearfix" align="right">
                            <span class="ot-welcome" th:text="#{header.welcome}">Добро пожаловать, </span>
                            <span sec:authentication="principal.fullName"></span><br>
                            <a href="/Logout" th:text="#{header.exit}" >Выход</a>
                        </div>
                    </div>
                </div>
                <div class="ot-mod-outer standard module Clearfix">
                    <div class="ot-mod-inner clearfix">
                        <div class="mod-content clearfix">
                            <div class="custom Clearfix">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ot-mod-outer standard module floatleft">
                    <div class="ot-mod-inner clearfix">
                        <div class="mod-content clearfix">
                            <div class="custom floatleft">
                                <div class="custom_top">
                                    <img src="../../../resources/images/custom_top.png" border="0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ot-mod-outer standard module custom_top_menu">
                    <div class="ot-mod-inner clearfix">
                        <div class="mod-content clearfix">
                            <ul class="menu">
                                <li class="item-527"><a href="?language=en_US">English</a></li>
                                <li class="item-531"><span class="separator">|</span></li>
                                <li class="item-528"><a href="?language=ru_RU">Русский</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oPosBlock row-fluid top2">
            <div class="oPos top2-1 span12 visible-phone visible-tablet visible-desktop">
                <div class="ot-mod-outer standard module mainmenu">
                    <div class="ot-mod-inner clearfix">
                        <div class="mod-content clearfix">
                            <div class="otmenu-wrapper otmenu-desk-wrapper visible-desktop">
                                <div class="otmenu-wrapper-i">
                                    <div sec:authorize="hasAuthority('USER')">
                                        <div th:include="fragments/main-menu.html :: main-menu-user"></div>
                                    </div>
                                    <div sec:authorize="hasAuthority('ADMIN')">
                                        <div th:include="fragments/main-menu.html :: main-menu-admin"></div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    jQuery(document).ready(function ($) {
                                        $("ul.ot-dropdown-100").otmenu({
                                            direction: 'ltr',
                                            animation: {opacity: "show", height: "show"},
                                            speed: 'normal'
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>